a{
    color: #fff;
}
    
nav{
    background-color: #171717;
    height: 60px;
    width: 100%;
    align-items: baseline;
    position: initial;
}
    
nav ul{
    text-align: center;
    margin: 0px 10px 0px -40px;
}
    
nav ul li{
    color: #fff;
    font-size: 15px;
    padding: 5px 7px;
    border-radius: 3px;
    transform: all .5s;
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
  
li:hover{
    border-radius: 3px;
    transition: all .5s;
    color: #d82525;
}
    
.translator{
    background-color: #171717;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 3px;
    text-decoration: none;
    transform: all .5s;
}
  
.enlace{
    position: absolute;
}
  
.logo{
    padding: 16px 5px;
    width: 30px;
    height: 30px;
    line-height: 80px;
    margin-left: 10px;
    transition: all .3s
}
  
.logo:hover {
    transform: scale(1.1);
    transition: all .5s
}
  
.icon-menu{
    color: #fff;
    padding: 16px 0px;
    width: 30px;
    height: 30px;
    transition: all .5s
}

.icon-menu:hover {
    color: #d82525;
}
  
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check{
    display: none;
    outline: 0;
}
  
  /*  .icon-menu:hover{
      rotate: 90deg;
      transition: all .5s
    }*/
  
@media (max-width: 912px){
    .checkbtn{
        display: block;
    }
    ul{
        text-decoration: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(21, 21, 21, 1);
        top: 40px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 20px;
        width: 100%;
        padding: 2px 30vh;
    }
    li a:hover, li a.active{
        background-color: #fff;
        border-top-left-radius: 100px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 100px;
        text-decoration: none;
        padding: 10px 30%;
        color: #000;
        width: 100%;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ .social_btn{
        display: none;
    }

    .card-column{
        display: block;
        margin: 15px 5px;
    }

    .card-div{
        display: block;
        padding: 16px;
        margin: 10px 0px;
        width: 100vh;
    }

}

/* Espacios de linea */
.spacing1{ display: block; height: 1px; }
.spacing2{ display: block; height: 2px; }
.spacing3{ display: block; height: 3px; }
.spacing4{ display: block; height: 4px; }
.spacing5{ display: block; height: 5px; }
.spacing10{ display: block; height: 10px; }
.spacing15{ display: block; height: 15px; }
.spacing20{ display: block; height: 20px; }
.spacing25{ display: block; height: 25px; }
.spacing30{ display: block; height: 30px; }
.spacing35{ display: block; height: 35px; }
.spacing40{ display: block; height: 40px; }
.spacing45{ display: block; height: 45px; }
.spacing50{ display: block; height: 50px; }
.spacing55{ display: block; height: 55px; }
.spacing60{ display: block; height: 60px; }
.spacing65{ display: block; height: 65px; }
.spacing70{ display: block; height: 70px; }
.spacing75{ display: block; height: 75px; }
.spacing80{ display: block; height: 80px; }
.spacing85{ display: block; height: 85px; }
.spacing90{ display: block; height: 90px; }
.spacing95{ display: block; height: 95px; }
.spacing100{ display: block; height: 100px; }
.spacing105{ display: block; height: 105px; }
.spacing110{ display: block; height: 110px; }
.spacing115{ display: block; height: 115px; }
.spacing120{ display: block; height: 120px; }
.spacing125{ display: block; height: 125px; }
.spacing130{ display: block; height: 130px; }
.spacing135{ display: block; height: 135px; }
.spacing140{ display: block; height: 140px; }
.spacing145{ display: block; height: 145px; }
.spacing150{ display: block; height: 150px; }
.spacing155{ display: block; height: 155px; }
.spacing160{ display: block; height: 160px; }
.spacing165{ display: block; height: 165px; }
.spacing170{ display: block; height: 170px; }
.spacing175{ display: block; height: 175px; }
.spacing180{ display: block; height: 180px; }
.spacing185{ display: block; height: 185px; }
.spacing190{ display: block; height: 190px; }
.spacing195{ display: block; height: 195px; }
.spacing200{ display: block; height: 200px; }
.spacing100p{ display: block; height: 100%; }
.spacing-auto{ display: block; height: auto; }

/* ProgressBar */
.progress{
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px inset rgb(62, 62, 62);
    padding: 2px;
    border-radius: 100px;
    width: 100%;
    height: 10px;
    display: inline-table;
}

.progress-bar{ width: 100%; }

.progress-bar p{
    color: #7d7d7d;
    font-size: 11px;
    text-align: end;
    padding-bottom: 4px;
}

.progress-bar label{
    color: #7d7d7d;
    font-size: 12px;
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
}

.barr{
    border: none;
    border-radius: 100px;
    height: 100%;
    animation-name: lineDev;
    animation-duration: 1.5s;
}

@keyframes lineDev {0% {width: 0%;} 100% {width: max(100);}}

/*Icons*/
.cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divicon{ margin-right: 5px; }
.divicon img{ width: 25px; height: 25px; }

/*Cards*/
.card{
    background: linear-gradient(rgba(51, 51, 51, 0.4), rgba(44, 44, 44, 0.4));
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    width: auto;
    height: auto;
}

.card2{
    background: linear-gradient(rgba(74, 74, 74, 0.7), rgba(61, 61, 61, 0.7));
    box-shadow: 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: auto;
    height: auto;
}

/* Modal */
.modal {
    background-color: rgba(0,0,0,0.85);
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    position: relative;
    background-color: #1E1F21;
    color: #97989A;
    margin: auto;
    padding: 0;
    border-radius: 12px;
    width: 80%;
    height: auto;
    border: 1px solid #171717;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 5px 16px;
    background-color: #101010;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fefefe;
  }
  
  .modal-body {padding: 15px;}

  .btn-showi {
    background-color: #000000;
    color: #fff;
    padding: 4px 10px;
    margin: 0px 2px;
    border: 3px solid #7d7d7d;
    border-radius: 5px;
  }

  .btn-showi:hover{
    background-color: #fefefe;
    border: 3px solid #fefefe;
    cursor: pointer;
    color: #000;
  }

  .card-row {margin: 0;}

  .card-row:after{
    content: "";
    display: flex;
    clear: both;
  }

  .card-div{
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(40, 40, 40, 0.7));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 15px;
    width: 35vh;
  }