a{
    color: #fff;
}
    
nav{
    height: 60px;
    width: 100%;
    align-items: baseline;
    position: initial;
}
    
nav ul{
    float: right;
    margin: 20px 10px 0px 0px;
}
    
nav ul li{
    color: #fff;
    font-size: 15px;
    padding: 5px 7px;
    border-radius: 3px;
    transform: all .5s;
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}
  
li:hover{
    border-radius: 3px;
    transition: all .5s;
    color: #FF9900;
}
    
.translator{
    color: #fff;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 3px;
    text-decoration: none;
    transform: all .5s;
}
  
.enlace{
    position: absolute;
}
  
.logo{
    padding: 16px 5px;
    width: 30px;
    height: 30px;
    line-height: 80px;
    margin-left: 10px;
    transition: all .3s
}
  
.logo:hover {
    transform: scale(1.1);
    transition: all .5s
}
  
.icon-menu{
    padding: 16px 5px;
    width: 30px;
    height: 30px;
    transition: all .5s
}

.icon-menu:hover {
    color: #FF9900;
}
  
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check{
    display: none;
    outline: 0;
}
  
  /*  .icon-menu:hover{
      rotate: 90deg;
      transition: all .5s
    }*/
  
@media (max-width: 912px){
    .checkbtn{
        display: block;
    }
    ul{
        text-decoration: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(21, 21, 21, 1);
        top: 40px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 20px;
        width: 100%;
        padding: 2px 30vh;
    }
    li a:hover, li a.active{
        background-color: #fff;
        border-top-left-radius: 100px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 100px;
        text-decoration: none;
        padding: 10px 30%;
        color: #000;
        width: 100%;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ .social_btn{
        display: none;
    }
}

/* Espacios de linea */
.spacing5{ display: block; height: 5px; }
.spacing10{ display: block; height: 10px; }
.spacing15{ display: block; height: 15px; }
.spacing20{ display: block; height: 20px; }
.spacing25{ display: block; height: 25px; }
.spacing30{ display: block; height: 30px; }
.spacing35{ display: block; height: 35px; }
.spacing40{ display: block; height: 40px; }
.spacing45{ display: block; height: 45px; }
.spacing50{ display: block; height: 50px; }
.spacing55{ display: block; height: 55px; }
.spacing60{ display: block; height: 60px; }
.spacing65{ display: block; height: 65px; }
.spacing70{ display: block; height: 70px; }
.spacing75{ display: block; height: 75px; }
.spacing80{ display: block; height: 80px; }
.spacing85{ display: block; height: 85px; }
.spacing90{ display: block; height: 90px; }
.spacing95{ display: block; height: 95px; }
.spacing100{ display: block; height: 100px; }
.spacing105{ display: block; height: 105px; }
.spacing110{ display: block; height: 110px; }
.spacing115{ display: block; height: 115px; }
.spacing120{ display: block; height: 120px; }
.spacing125{ display: block; height: 125px; }
.spacing130{ display: block; height: 130px; }
.spacing135{ display: block; height: 135px; }
.spacing140{ display: block; height: 140px; }
.spacing145{ display: block; height: 145px; }
.spacing150{ display: block; height: 150px; }
.spacing155{ display: block; height: 155px; }
.spacing160{ display: block; height: 160px; }
.spacing165{ display: block; height: 165px; }
.spacing170{ display: block; height: 170px; }
.spacing175{ display: block; height: 175px; }
.spacing180{ display: block; height: 180px; }
.spacing185{ display: block; height: 185px; }
.spacing190{ display: block; height: 190px; }
.spacing195{ display: block; height: 195px; }
.spacing200{ display: block; height: 200px; }
.spacing100p{ display: block; height: 100%; }
.spacing-auto{ display: block; height: auto; }

/*  */